<!-- BASIC PAGE WITH CHARTS -->
<!DOCTYPE html>
<meta chartset="utf-8">

<head>
    <!-- Import Vega & Vega-Lite -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <!-- Style Sheet & Alike for Bootstrap-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <!-- HEADER -->
    <div class='container mt-4'>
        <div class=col>
            <h2>{{buy_time}}</h2>
            <p>
                {{message}}
            </p>
        </div>
        
        <!-- CHART & DROPDOWN -->
        <div class=col>
            <div class='row ml-4'>
                <div class='col-lg-'>
                    <h4 class='ml-0'>
                        {{ company }}, <font color="grey">{{ price }}</font>
                    </h3>
                </div>
                <div class='col'>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle pull-right float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ ticker }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for stock in stocks %}
                                <a class="dropdown-item" href={{stock}}>{{ stock }}</a>
                            {% endfor %}
                        </div>
                      </div>
                </div>
            </div>
            <div id=viz></div>
            </div>
        </div>
    </div>

    <div class='container'>
      <p class='descript'>*Clique nas <br>descrições para <br>mais informações.</p>
        <div id='cards' class='row sm-4'>
            {% for metric in key_metrics %}
                <div class="card sm-4" style="width: 10rem;">
                    <div class="card-body">
                        <h6 class="card-title">{{ metric.name }}: {{ metric.value }}</h5>
                        <p style="font-size: 15px" class="card-text" data-toggle="modal" 
                        data-target="#{{ metric.name | replace('/', '') | replace(' & ', '') }}Modal">{{ metric.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


<!-- ROI Modal -->
<div class="modal fade" id="ROIModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ROI</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p>
          <b>ROE (RETURN ON EQUITY)</b>:
          <br><br>
          Significa retorno sobre o patrimônio. 
          <br>
          Este é um indicador que mede a capacidade de agregar valor de uma empresa à partir de seus próprios recursos e do dinheiro de investidores. E quanto maior melhor.
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of ROI Modal-->

<!-- P/L Modal -->
<div class="modal fade" id="PLModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">P / L (PREÇO DA AÇÃO / LUCRO LÍQUIDO POR AÇÃO)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p>É formado pela relação entre o preço atual de uma ação dividido pelo lucro líquido por ação desse ativo.
            <br><br>
            <b>P / L ALTO</b>: 
            <br>
            Ele lhe dá uma ideia do quanto o mercado está disposto a pagar pelos lucros da empresa. Assim, quanto maior o P/L, maior a disposição do mercado. Alguns investidores interpretam um P/L alto como uma ação muito cara, no entanto pode também indicar que o mercado tem grandes expectativas sobre a ação e, portanto, pressionam para cima o seu preço.
            <br><br>
            <b>P / L BAIXO</b>: Por outro lado, um baixo P/L pode indicar uma falta de confiança do mercado ou que a ação é uma boa oportunidade de investimento negligenciada pelo mercado. Conhecido como ações de valor, muitos investidores fazem fortunas garimpando esses "diamantes brutos" antes que o resto do mercado descubra o seu verdadeiro valor.
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of P/L Modal-->

  <!-- PBV Modal-->
  <div class="modal fade" id="PBVModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">P / L (PREÇO DA AÇÃO / LUCRO LÍQUIDO POR AÇÃO)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Relaciona o preço da ação ao valor patrimonial proporcional a ela.
            <br><br>
            <b>P/VPA INFERIOR A 1</b>:
            <br>
             Significa que o mercado paga, no momento, pelas ações da empresa um preço que está abaixo do seu patrimônio líquido. Um P/VPA baixo pode estar sinalizando que estão ocorrendo problemas na empresa ou que estamos passando por algum evento atípico e a ação está de fato "barata". Para saber isso é necessário estudar mais a fundo sobre a empresa, avaliando, por exemplo o ROE e o P/L.
            <br><br>
            <b>P/VPA SUPERIOR A 1</b>:
             <br>
             O mercado aceita pagar mais, no momento, pela ação do que todo o patrimônio líquido da empresa. Isso é comum em empresas de setores que não necessitam de tanto patrimônio para gerar valor para o acionista, e não necessariamente significa que a ação está “cara”. A empresa, por exemplo, pode contar com expectativas de alto crescimento do lucro, que faça o patrimônio líquido crescer a uma taxa elevada nos anos seguintes.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of PBV Modal-->

  <!-- PreçoVolatilidade Modal-->
  <div class="modal fade" id="PreçoVolatilidadeModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Preço & Volatilidade</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p>
            <b>Preço</b>
            <br>
            {{preco_30}}
            <br>
            {{preco_ltm}}
            <br><br>
            <b>Volatilidade</b>
            <br>
            {{volat_30}}
            <br>
            {{volat_ltm}}
            <!-- { {key_metrics.last.description} } -->
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of PreçoVolatilidade Modal-->

</body>

<!-- CALLING VEGA CHART -->
<script type="text/javascript">
    url = window.location + ''
    var vlSpec = url.replace('#', '') + '/api/chart'
    vegaEmbed('#viz', vlSpec, {actions: false});
</script>

<!-- MOVING ACROSS PAGES -->
<script type='text/javascript'>
    $(".dropdown-item").click(function(){
        $("#dropdownMenuButton").contents().last()[0].textContent = $(this).text();
        window.location.replace('http://127.0.0.1:5000/' + $(this).text());
      });
</script>

